
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <TelerikButton @onclick="HandleLogout">
            <TelerikSvgIcon Icon="@SvgIcon.Logout" >Logout</TelerikSvgIcon>
            Logout
        </TelerikButton>
    </Authorized>
    <NotAuthorized>
        <TelerikButton @onclick="HandleLogout">
            <TelerikSvgIcon Icon="@SvgIcon.Login">Login</TelerikSvgIcon>
            Logout
        </TelerikButton>
    </NotAuthorized>
</AuthorizeView>